.sign-in-container{
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0 auto;
  padding: 3em 4.5em;
  border-radius: 5px;
  width: 35%;
  min-width: 100px;
  min-height: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & .auth-options-container{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;

    font-size: .7em;

    & .button{
      width: 15%;
    }
  }
}